Save the following to `config.yaml`:
```yaml
---
{{ config }}
```

Run the following `swarmpal` command in the terminal from the directory containing `config.yaml`:
```console
swarmpal batch config.yaml results.nc4
```
